@charset "UTF-8";

@media screen and (min-width: 360px) {
    #img {    
        width: 69%; 
        height: auto;
        position: absolute;    
        top: 66vh;
        left: 17%;
        object-fit: cover;
        border-radius: 50%;
    }
    p {
        font-size: clamp(.5em, 0.7em + 1vw, 2em); 
    }
    label {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
    }
    button {
        font-size: clamp(.4em, 0.6em + 1vw, 2em);    
    }
    select > option {
        font-size: clamp(.4em, 0.5em + 1vw, 2em);        
    }
}

@media screen and (orientation: landscape) {
    main {
        background-color: blueviolet;
    }
}

/*
@media screen and (min-width: 400px) {
    #img {    
        width: 60%; 
        height: auto;
        position: absolute;    
        top: 57vh;
        left: 25%;
        object-fit: cover;
        border-radius: 50%;
    }
    p {
        font-size: clamp(.5em, 0.7em + 1vw, 2em); 
    }
    label {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
    }
}*/

@media screen and (min-width: 400px) {    
    #img { 
    width: 60%; 
    height: auto;
    position: absolute;    
    top: 60vh;
    left: 20%;
    object-fit: cover;
    border-radius: 50%;     
    }
    p {
        font-size: clamp(.5em, 0.7em + 1vw, 2em); 
    }
    label {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
    }
    button {
        font-size: clamp(.4em, 0.7em + 1vw, 2em);    
    }
    select > option {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);        
    }
}

@media screen and (min-width: 550px) {    
    #img { 
    width: 55%; 
    height: auto;
    position: absolute;    
    top: 59vh;
    left: 20%;
    object-fit: cover;
    border-radius: 50%;     
    }
    p {
        font-size: clamp(.5em, 0.7em + 1vw, 2em); 
    }
    label {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
    }
    button {
        font-size: clamp(.4em, 0.7em + 1vw, 2em);    
    }
    select > option {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);        
    }
}


@media screen and (min-width: 600px) {    
    #img { 
    width: 55%; 
    height: auto;
    position: absolute;    
    top: 55vh;
    left: 20%;
    object-fit: cover;
    border-radius: 50%;     
    }
    p {
        font-size: clamp(.5em, 0.7em + 1vw, 2em); 
    }
    label {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
    }
    button {
        font-size: clamp(.4em, 0.7em + 1vw, 2em);    
    }
    select > option {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);        
    }
}

@media screen and (min-width: 701px) {    
    #img { 
    width: 50%; 
    height: auto;
    position: absolute;    
    top: 52vh;
    left: 25%;
    object-fit: cover;
    border-radius: 50%;     
    }
    p {
        font-size: clamp(.5em, 0.7em + 1vw, 2em); 
    }
    label {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
    }
    button {
        font-size: clamp(.4em, 0.7em + 1vw, 2em);    
    }
    select > option {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);        
    }
}


@media screen and (min-width: 850px) {    
    #img { 
    width: 50%; 
    height: auto;
    position: absolute;    
    top: 48vh;
    left: 25%;
    object-fit: cover;
    border-radius: 50%;     
    }
    p {
        font-size: clamp(.5em, 0.7em + 1vw, 2em); 
    }
    label {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
    }
    button {
        font-size: clamp(.4em, 0.7em + 1vw, 2em);    
    }
    select > option {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);        
}
}

@media screen and (min-width: 1000px) {    
    #img { 
    width: 48%; 
    height: auto;
    position: absolute;    
    top: 40vh;
    left: 25%;
    object-fit: cover;
    border-radius: 50%;     
    }
    
    p {  
        font-size: clamp(.5em, 0.7em + 1vw, 2em);     
        text-align: left;
        line-height: 35px;
        margin-left: 10px;        
    } 

    #p-res {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);
    }

    label{
        font-size: clamp(.5em, 0.4em + 1vw, 2em);
    }

    button {
        font-size: clamp(.4em, 0.4em + 1vw, 2em);    
    }

    select > option {
        font-size: clamp(.5em, 0.7em + 1vw, 2em);        
    }
}

