@charset "UTF-8";

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {    
    .nav {
        float: left;   
        display: flex;                     
    }
    
    .topnav {
        padding-bottom: 10px;                       
    }     
    
    #logo_polo {
        display: inline-block;
        width: 13vh;        
    } 
    .topo img {
        display: none;
    }
    header h1 {
        font-size: 35px;
    }        

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 599px) {      
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width:600px) {     
    #logo_ufsc {
        display: inline-block;
    }
    #logo_udesc {
        display: inline-block;
    }
    header h1 {
        font-size: 35px;
    }
    #logo_polo {
        width: 10vh;
    }
}

@media screen  and (min-width:600px) and (max-width:800px){    
    .nav {
        display: inline-block;
        float: left;
        margin-top: -12px;
        margin-bottom: 0;        
    }
     
    .active{
        height: 91px;
    }       
}

@media screen and (min-width:972px) and (max-width:1182px) {
    .topo img {
        display: inline-block;
    }
    #logo_bande {
        display: none;
        width: 10vh;
    }
}

@media screen and (min-width:992px) and (max-width:1182px) {
    .topo img {
        display: inline-block;
    }
    #logo_bande {
        display: none;
        width: 10vh;
    }
}

@media screen and (min-width:1183px) {
    .topo img {
        display: inline-block;
    }
    #logo_bande {
        display: inline-block;
        width: 10vh;
    }
}